.skills {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.skills .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 50px;
  justify-items: center;
  width: 100%;
  max-width: 800px;
}

.skills .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  gap: 10px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 2px solid transparent;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skills .card img {
  width: 60px;
  height: 60px;
}

.skills .filter-buttons {
  position: relative;
  width: 400px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills .filter-buttons a {
  position: relative;
  display: inline-block;
  font-weight: 600;
  width: 100px;
  height: 50px;
  z-index: 1;
  text-align: center;
  align-content: center;
  cursor: pointer;
  color: var(--primary-color);
  transition: color 0.3s;
}

.skills .filter-buttons a.active {
  color: #fff;
}

.skills .filter-buttons span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background: var(--primary-color);
  border-radius: 8px;
  transition: 0.5s;
  box-shadow: 0 0 10px var(--primary-color);
}

.skills .filter-buttons a:nth-child(1).active ~ span {
  left: 0;
}

.skills .filter-buttons a:nth-child(2).active ~ span {
  left: 100px;
}

.skills .filter-buttons a:nth-child(3).active ~ span {
  left: 200px;
}

.skills .filter-buttons a:nth-child(4).active ~ span {
  left: 300px;
}

@media screen and (max-width: 768px) {
  .skills{  
    max-height: 560px;
    overflow-y: auto;
    place-content: baseline;
  }
  .skills .wrapper {
    grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
  }
  .skills .card {
    width: 80%;
  }
}

