.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.contact .container {
    display: flex;
    flex-direction: column;
    width: 460px;
    margin: 0 auto;
    gap: 50px;
}

.contact .form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%; 
}

.contact .form .form-group {
    position: relative;
}

.contact .form .form-group .error-message {
    position: absolute;
    bottom: -20px; 
    color: var(--contrast-color);
    font-size: 12px;
}

.contact .input,
.contact .textarea {
    width: 100%;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.4px;
    font-size: 16px;
}

.contact .textarea {
    height: 100px; 
    resize: vertical; 
    max-height: 300px; 
    min-height: 100px; 
}

.contact .Toastify__toast--success {
    background-color: var(--primary-color-variante);
    color: #fff;
}

.contact .Toastify__toast--error {
    background-color: #b80000;
    color: #fff;
}
@media screen and (max-width: 1300px) {
    .contact {
        padding: 75px 0 0 0;
      }
  }


@media screen and (max-width: 480px) {
    
}